chanyi.shepherd/Chanyi.Shepherd.WPF/service21.xsd/ProductService/Chanyi.Product.QueryService.Core.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Chanyi.Product.QueryService.Core.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chanyi.Product.QueryService.Core.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccounts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Accounts" nillable="true" type="tns:Accounts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccounts" nillable="true" type="tns:ArrayOfAccounts" />
  <xs:complexType name="Accounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreaterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Accounts" nillable="true" type="tns:Accounts" />
</xs:schema>