chanyi.shepherd/Chanyi.Shepherd.WPF/service21.xsd/ProductService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QueryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IQueryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Chanyi.Product.QueryService.Core.Filter" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Chanyi.Product.QueryService.Core.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQueryService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetProductLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetProductLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductLatestVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IQueryService">
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetAccounts" message="tns:IQueryService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetAccountsResponse" message="tns:IQueryService_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetProductLatestVersion" message="tns:IQueryService_GetProductLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetProductLatestVersionResponse" message="tns:IQueryService_GetProductLatestVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IQueryService" type="tns:IQueryService">
    <wsp:PolicyReference URI="#NetTcpBinding_IQueryService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAccounts">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductLatestVersion">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetProductLatestVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryService">
    <wsdl:port name="NetTcpBinding_IQueryService" binding="tns:NetTcpBinding_IQueryService">
      <soap12:address location="net.tcp://123.57.225.228:10008/Chanyi.Product.Services/QueryService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://123.57.225.228:10008/Chanyi.Product.Services/QueryService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>