chanyi.web/Chanyi.Web.Official/Service References/ProductService/Chanyi.DomainModel.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Chanyi.DomainModel.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chanyi.DomainModel.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ServiceResultOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Chanyi.DomainModel.Service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ResultStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResultOfstring" nillable="true" type="tns:ServiceResultOfstring" />
  <xs:simpleType name="ResultStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="WANING" />
      <xs:enumeration value="ERROR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultStatus" nillable="true" type="tns:ResultStatus" />
</xs:schema>