chanyi.web/Chanyi.Web.Official/Service References/ProductService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IManageService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Chanyi.DomainModel.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManageService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IManageService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IManageService_CreateCustomerTryout_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerTryout" />
  </wsdl:message>
  <wsdl:message name="IManageService_CreateCustomerTryout_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerTryoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IManageService">
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageService/CreateCustomer" message="tns:IManageService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageService/CreateCustomerResponse" message="tns:IManageService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerTryout">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageService/CreateCustomerTryout" message="tns:IManageService_CreateCustomerTryout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageService/CreateCustomerTryoutResponse" message="tns:IManageService_CreateCustomerTryout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IManageService" type="tns:IManageService">
    <wsp:PolicyReference URI="#NetTcpBinding_IManageService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateCustomer">
      <soap12:operation soapAction="http://tempuri.org/IManageService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerTryout">
      <soap12:operation soapAction="http://tempuri.org/IManageService/CreateCustomerTryout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageService">
    <wsdl:port name="NetTcpBinding_IManageService" binding="tns:NetTcpBinding_IManageService">
      <soap12:address location="net.tcp://chanyikeji.com:10010/Chanyi.Product.Services/ManageService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://chanyikeji.com:10010/Chanyi.Product.Services/ManageService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>